<!-- using this static module as opposed to hardcoding the link to static files as they may change location over time-->
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Articles</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- using template tag to get url based on the name parameter assigned when creating the urls -->
            <h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png' %}" alt="Image for link to articles list"></a></h1>
            {% block content%}
            {% endblock %}
        </div>
    </body>
</html>
