<!-- extending base layout template -->
{% extends 'base_layout.html' %}
{% block content %}
    <h1>Signup</h1>
    <!-- wrapping provided form in form tag -->
    <!-- note that the action is the same as the url bringing us to this form -->
    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
        <!-- this let's the app know that this post request is safe because it is coming from our application, not externally (bad actors) -->
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="signup_submit" value="Signup">
    </form>
{% endblock %}
